body *{
  padding: 0;
  margin: 0;
  font-family: "Fjord", sans-serif;
}

.menu-link {
  padding: 10px 20px; /* Adiciona espaçamento interno aos links */
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s; /* Transição suave de cor de fundo */
}

/* Estilo quando o mouse está sobre os links */
.menu-link:hover {
  border-bottom: 1px solid black;
}
/* p{
  padding: 0;
  margin: 0;
} */