body *{
  padding: 0;
  margin: 0;
  /* font-family: "Fjord", sans-serif; */
  font-family: "Bai Jamjuree", sans-serif;
}
/* .kristi-regular {
  font-family: "Kristi", cursive;
  font-weight: 400;
  font-style: normal;
} */

.menu-link {
  padding: 10px 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}

.menu-link:hover {
  border-bottom: 1px solid black;
}

.knolodge-card{
  border: 1px solid transparent;
  border-radius: 7px;
  transition: border 0.3s; 
  width: 100px;
}
.knolodge-card:hover {
  border: 1px solid black;
}

#stockImage{
  /* max-height: 300px; */
}